<!DOCTYPE html>
<html lang="en">
<head>
    {% if app.environment != 'dev' %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-12202631-5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-12202631-5');
        </script>
        <!-- Global site tag (gtag.js) - Google Ads: 1046486146 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1046486146"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'AW-1046486146');
        </script>

        {% block gtm %}
        {% endblock %}
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/public.css') }}">
    <link rel="icon" type="image/png" href="{{ asset('build/static/favicon.png') }}">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!--Font awesome-->
    <script src="https://kit.fontawesome.com/6247656702.js"></script>


    {% block stylesheets %}{% endblock %}

</head>
<body>
<header>
    <div class="top-bar">
        <div class="container">
            <div class="row align-items-center">
                <!-- Top Contact -->
                <div class="col-6 col-md-9">
                    <div class="top-bar__top-contact">
                    </div>
                </div>

                <!-- Top Flags -->
                <div class="col-6 col-md-3 pr-0">
                </div>
            </div>
        </div>
    </div>

    {# Navigation #}
    <nav class="navbar navbar-expand-md navbar-light static-top">
        <div class="container menu">
            <a class="navbar-brand" href="{{ path('paprec_public_devis_home', {locale: locale}) }}">
                <img class="img-fluid" src="{{ asset('/build/static/logo-easy-recyclage.png') }}" alt="">
            </a>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav nav ml-5 mr-xl-auto">
                    <li class="nav-item active">
                        <a class="nav-link"
                           href="{{ path('paprec_public_devis_home', {locale: locale}) }}">{{ 'Public.Navbar.Home'| trans({}, "messages", locale) }}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>
<section class="breadcrumb">
    <div class="container">
        <div class="breadcrumb__content">
            <div class="progress">
                <div class="progress-bar pg-background" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>

            <div class="row">
                {% if app.request.get('_route')|slice(0, 'paprec_public_devis_home'|length) == 'paprec_public_devis_home' %}
                    <div class="col-md-4" style="margin-top: 10px"><a class="item-active purple_1" style="font-size: 15px;"
                                href="{{ path('paprec_public_devis_home', {locale: locale}) }}">{{ 'Public.Navbar.Link1'| trans({}, "messages", locale) }}</a>
                    </div>
                {% else %}
                    <div class="col-md-4" style="margin-top: 10px"><a class="item" style="font-size: 15px;" href="{{ path('paprec_public_devis_home', {locale: locale}) }}">{{ 'Public.Navbar.Link1'| trans({}, "messages", locale) }}</a></div>
                {% endif %}

                {% if app.request.get('_route')|slice(0, 'paprec_public_regular_'|length) == 'paprec_public_regular_' or app.request.get('_route')|slice(0, 'paprec_public_ponctual_'|length) == 'paprec_public_ponctual_' %}
                    <div class="col-md-3 item-active" style="margin-top: 10px; font-size: 15px;">
                        {{ 'Public.Navbar.Link2'| trans({}, "messages", locale) }}
                    </div>
                {% else %}
                    <div class="col-md-3 item" style="margin-top: 10px; font-size: 15px;">
                        {{ 'Public.Navbar.Link2'| trans({}, "messages", locale) }}
                    </div>
                {% endif %}

                {% if app.request.get('_route')|slice(0, 'paprec_public_contact_'|length) == 'paprec_public_contact_' %}
                    <div class="col-md-3 item-active" style="margin-top: 10px; font-size: 15px;">
                        {{ 'Public.Navbar.Link3'| trans({}, "messages", locale) }}
                    </div>
                {% else %}
                    <div class="col-md-3 item" style="margin-top: 10px; font-size: 15px;">
                        {{ 'Public.Navbar.Link3'| trans({}, "messages", locale) }}
                    </div>
                {% endif %}

                {% if app.request.get('_route')|slice(0, 'paprec_public_confirm_'|length) == 'paprec_public_confirm_' %}
                    <div class="col-md-2 item-active" style="margin-top: 10px; font-size: 15px;">
                        {{ 'Public.Navbar.Link4'| trans({}, "messages", locale) }}
                    </div>
                {% else %}
                    <div class="col-md-2 item" style="margin-top: 10px; font-size: 15px;">
                        {{ 'Public.Navbar.Link4'| trans({}, "messages", locale) }}
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
</section>

{% block main_content %}
    <!-- section -->

    <!-- /section -->
{% endblock %}
<script src="{{ asset('build/public.js') }}"></script>
{% block javascripts %}

{% endblock %}
</body>
</html>
