{% extends 'public/base_public.html.twig' %}
{% block title %} Easy Recyclage - Coordonnées{% endblock %}
{% block breadcrumb_title %} {{ 'Public.Contact.BreadcrumbTitle'| trans({}, "messages", locale) }} {% endblock %}
{% block breadcrumb_content %} {{ 'Public.Contact.BreadcrumbContent'| trans({}, "messages", locale) }} {% endblock %}

{% block main_content %}
    <section class="page-section contact-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="m-b-40">
                        {{ 'Public.Contact.Title'| trans({}, "messages", locale) }}<br>
                        {{ 'Public.Contact.SubTitle'| trans({}, "messages", locale) }}<br>
                        {{ 'Public.Contact.ThirdTitle'| trans({}, "messages", locale) }}
                    </h1>
                </div>
            </div>
            <form id="contactDetailForm" action="" method="post">
                <div class="form-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-form row">
                                <div class="col-md-2 col-12 d-flex justify-content-end align-items-center logo-block">
                                    <img src="{{ asset('/build/static/user.png') }}" alt="" width="125" height="125">
                                </div>
                                <div class="col-md-10 col-12 field-block">
                                    <div class="row">
                                        <div class="col-md-12 ml-4">
                                            <h2>{{ 'Public.Contact.ContactInfoTitle'|trans({}, "messages", locale)}}</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group paprec-flex align-items_center m-t-25 m-b-10 col-md-12 ml-4">
                                            {{ form_widget(form.civility, {'attr': {'class': 'form-check form-check-inline radio-form'}}) }}
                                            {{ form_errors(form.civility) }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder': ('Public.Contact.FirstName'| trans({}, 'messages', locale)~'* :')}}) }}
                                            {{ form_errors(form.firstName) }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder': ('Public.Contact.LastName'| trans({}, 'messages', locale)~'* :')}}) }}
                                            {{ form_errors(form.lastName) }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': ('Public.Contact.Email'| trans({}, 'messages', locale)~'* :')}}) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': ('Public.Contact.Phone'| trans({}, 'messages', locale)~'* :')}}) }}
                                            {{ form_errors(form.phone) }}
                                            <span id="phone-number-info">{{ 'Public.Contact.PhoneNumberInfo'| trans({}, "messages", locale) }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="contact-form row">
                                <div class="col-md-2 d-flex justify-content-end align-items-center logo-block">
                                    <img src="{{ asset('/build/static/building.png') }}" alt="" width="125"
                                         height="125">
                                </div>
                                <div class="col-md-10 field-block">
                                    <div class="row">
                                        <div class="form-group col-md-6 mt-3">
                                            {{ form_widget(form.businessName, {'attr': {'class': 'form-control', 'placeholder': ('Public.Contact.BusinessName'| trans({}, 'messages', locale)~'* :')}}) }}
                                            {{ form_errors(form.businessName) }}
                                            <div class="invalid-feedback">
                                                Champ non renseigné
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group mt-3">
                                                <select id="contact_access_select" class="form-control">
                                                    <option value="" disabled
                                                            selected>{{ 'Public.Contact.Access'| trans({}, "messages", locale) }}
                                                        * :
                                                    </option>
                                                    {% for opt in form.access.vars.choices %}
                                                        <option value="{{ opt.value }}"
                                                                {% if form.access.vars.data == opt.value %}selected{% endif %}>{{ opt.label|trans({}, "messages", locale) }}</option>
                                                    {% endfor %}
                                                </select>
                                                {{ form_errors(form.access) }}
                                            </div>
                                            <div class="form-group" id="floorNumber">
                                                {{ form_widget(form.floorNumber, {'attr': {'class': 'form-control', 'placeholder': ('Public.Contact.FloorNumber'| trans({}, 'messages', locale)~'* :')}}) }}
                                                {{ form_errors(form.floorNumber) }}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="contact-form row">
                                <div class="col-md-2 d-flex justify-content-end align-items-center logo-block">
                                    <img src="{{ asset('/build/static/mailbox.png') }}" alt="" width="125"
                                         height="125">
                                </div>
                                <div class="col-md-10 field-block">
                                    <div class="row">
                                        <div class="col-md-12 ml-4">
                                            <h2>{{ 'Public.Contact.AddressTitle'|trans({}, "messages", locale)}}</h2>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6  m-t-25">
                                            <label class="">{{ 'Public.Contact.IsMultisite'| trans({}, "messages", locale) }}
                                                *
                                                :</label>
                                            {{ form_widget(form.isMultisite, {'attr': {'class': 'form-check form-check-inline radio-form pb-2'}}) }}
                                            {{ form_errors(form.isMultisite) }}
                                            <div id="multisite-info">
                                                {{ 'Public.Contact.isMultisiteInfo'| trans({}, "messages", locale) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group mt-3">
                                                <label class="">{{ 'Public.Contact.PostalCode'| trans({}, "messages", locale) }}
                                                    *
                                                    :</label>
                                                {{ form_widget(form.postalCode, {'attr': {'class': 'form-control address-field postal-code-field', 'placeholder': ('Public.Contact.PostalCode'| trans({}, 'messages', locale)~'* :'), 'data-url': path('paprec_public_postalCode_autocomplete') }}) }}
                                                {{ form_errors(form.postalCode) }}
                                            </div>
                                            <div class="form-group address-content">
                                                <input id="addressAutocomplete"
                                                       class="form-control address-content address-field address-field-1"
                                                       placeholder="{{ 'Public.Contact.Address'| trans({}, "messages", locale) }}* :"/>
                                                {{ form_widget(form.address, {'attr': {'class': 'form-control address-field address-field-1', 'hidden': true}}) }}
                                                {{ form_errors(form.address) }}
                                            </div>
                                            <div class="form-group address-content">
                                                {{ form_widget(form.addressDetail, {'attr': {'class': 'form-control address-field', 'placeholder': ('Public.Contact.AddressDetail'| trans({}, 'messages', locale))}}) }}
                                                {{ form_errors(form.addressDetail) }}
                                            </div>

                                            <div class="form-group">
                                                    {{ form_widget(form.postalCodeString, {'id': 'postalCodeStringField', 'attr': {'class': 'form-control', 'hidden': true}}) }}
                                                    {{ form_errors(form.postalCodeString) }}
                                            </div>

                                        </div>
                                        <div class="form-group col-md-6 mt-3">
                                            <select id="contact_staff_select" class="form-control">
                                                <option value="" disabled
                                                        selected>{{ 'Public.Contact.Staff'| trans({}, "messages", locale) }}
                                                    :
                                                </option>
                                                {% for opt in form.staff.vars.choices %}
                                                    <option value="{{ opt.value }}"
                                                            {% if form.staff.vars.data == opt.value %}selected{% endif %}>{{ opt.label|trans({}, "messages", locale) }}</option>
                                                {% endfor %}
                                            </select>
                                            {{ form_errors(form.staff) }}
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group align-items_center">
                                                <label>{{ 'Public.Contact.IsSameAddress'| trans({}, "messages", locale) }}
                                                    *
                                                    :</label>
                                                {{ form_widget(form.isSameAddress, {'attr': {'class': 'form-check form-check-inline radio-form is-same-address-input'}}) }}
                                                {{ form_errors(form.isSameAddress) }}
                                            </div>
{#                                            <div class="form-group address-group">#}
{#                                                <label class="billing-address-label">{{ 'Public.Contact.Address'| trans({}, "messages", locale) }}#}
{#                                                    * :</label>#}
{#                                                <input id="billingAddressAutocomplete"#}
{#                                                       class="form-control billing-address-field"/>#}
{#                                            </div>#}
                                            <div class="form-group address-group">
                                                <input id="billingAddressAutocomplete"
                                                       class="form-control billing-address-field"
                                                placeholder="{{ 'Public.Contact.Address'| trans({}, 'messages', locale)~'* :' }}"/>
                                                {{ form_widget(form.billingAddress, {'attr': {'class': 'form-control billing-address-field', 'hidden': true, 'placeholder': ('Public.Contact.Address'| trans({}, 'messages', locale)~'* :')}}) }}
                                                {{ form_errors(form.billingAddress) }}
                                            </div>
                                            <div class="form-group address-group">
                                                {{ form_widget(form.billingPostalCode, {'attr': {'class': 'form-control billing-address-field', 'placeholder': ('Public.Contact.PostalCode'| trans({}, 'messages', locale)~'* :')}}) }}
                                                {{ form_errors(form.billingPostalCode) }}
                                            </div>
                                            <div class="form-group address-group">
                                                {{ form_widget(form.billingCity, {'attr': {'class': 'form-control billing-address-field', 'placeholder': ('Public.Contact.City'| trans({}, 'messages', locale)~'* :')}}) }}
                                                {{ form_errors(form.billingCity) }}
                                            </div>

                                            <div class="form-group address-group">
                                                {{ form_widget(form.billingPostalCodeString, {'id': 'billingPostalCodeString', 'attr': {'class': 'form-control', 'placeholder': ('Public.Contact.PostalCode'| trans({}, 'messages', locale)~'* :')}}) }}
                                                {{ form_errors(form.billingPostalCodeString) }}
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group align-items_center">
                                                <label>{{ 'Public.Contact.IsSameSignatory'| trans({}, "messages", locale) }}
                                                    * :</label>
                                                {{ form_widget(form.isSameSignatory, {'attr': {'class': 'form-check form-check-inline radio-form is-same-signatory-field'}}) }}
                                                {{ form_errors(form.isSameSignatory) }}
                                            </div>
                                            <div class="form-group signatory-group">
                                                {{ form_widget(form.signatoryLastName1, {'attr': {'class': 'form-control signatory-field', 'placeholder': ('Public.Contact.SignatoryLastName1'| trans({}, 'messages', locale)~'* :')}}) }}
                                                {{ form_errors(form.signatoryLastName1) }}
                                            </div>
                                            <div class="form-group signatory-group">
                                                {{ form_widget(form.signatoryFirstName1, {'attr': {'class': 'form-control signatory-field', 'placeholder': ('Public.Contact.SignatoryFirstName1'| trans({}, 'messages', locale)~'* :')}}) }}
                                                {{ form_errors(form.signatoryFirstName1) }}
                                            </div>
                                            <div class="form-group signatory-group">
                                                {{ form_widget(form.signatoryTitle1, {'attr': {'class': 'form-control signatory-field', 'placeholder': ('Public.Contact.SignatoryTitle1'| trans({}, 'messages', locale)~'* :')}}) }}
                                                {{ form_errors(form.signatoryTitle1) }}
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>

                            <div class="contact-form row">
                                <div class="col-md-2 d-flex justify-content-end align-items-center logo-block">
                                    <img src="{{ asset('/build/static/espace.png') }}" alt="" width="125"
                                         height="125">
                                </div>
                                <div class="col-md-10 field-block">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                        </div>

                                        <div class="form-group col-md-6">
                                            {{ form_widget(form.comment, {'attr': {'class': 'form-control', 'rows': '11', 'placeholder': ('Public.Contact.Comment'| trans({}, 'messages', locale)~' :')}}) }}
                                            {{ form_errors(form.comment) }}
                                        </div>
                                    </div>
                                </div>

                            </div>


                            {% if cart.otherNeeds and cart.otherNeeds|length > 0 %}
                                <div class="form-group">
                                    <label>{{ 'Public.Catalog.Other-Needs'| trans({}, "messages", locale) }}</label>
                                    <ul>
                                        {% for otherNeed in cart.otherNeeds %}
                                            {% if otherNeed.language|lower == locale|lower %}
                                                <li class="ml-2 contact-other-need">- {{ otherNeed.name }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {{ form_widget(form.staff, {'attr': {'class': 'contact_staff_input'}}) }}
                            {{ form_widget(form.access, {'attr': {'class': 'contact_access_input'}}) }}

                        </div>
                    </div>
                    <div class="row mt-5 mb-5 bottom-navigation">
                        <div class="col-lg-5 col-md-5">

                            {% if cart.type == 'REGULAR' %}
                                <a type="button"
                                   class="btn btn__green btn__large type__button arrow-left ml-5"
                                   href="{{ path('paprec_public_regular_catalog_index', {locale: locale, cartUuid: cart.id}) }}">{{ 'Public.Catalog.Previous-step'| trans({}, "messages", locale)|upper }}
                                </a>
                            {% endif %}

                            {% if cart.type == 'PONCTUAL' %}
                                <a type="button"
                                   class="btn btn__green btn__large type__button arrow-left ml-5"
                                   href="{{ path('paprec_public_ponctual_catalog_index', {locale: locale, cartUuid: cart.id}) }}">{{ 'Public.Catalog.Previous-step'| trans({}, "messages", locale)|upper }}
                                </a>
                            {% endif %}

                            {% if cart.type == 'MATERIAL' %}
                                <a type="button"
                                   class="btn btn__green btn__large type__button arrow-left ml-5"
                                   href="{{ path('paprec_public_material_catalog_index', {locale: locale, cartUuid: cart.id}) }}">{{ 'Public.Catalog.Previous-step'| trans({}, "messages", locale)|upper }}
                                </a>
                            {% endif %}

                        </div>
                        <div class="be-recalled send-request">
                            <button type="submit"
                                    id="contactDetailFormSubmitButton"
                                    data-key="{{ google_recaptcha_site_key }}"
                                    class="btn btn__purple-2 btn__large type__button ml-5">{{ 'Public.Contact.SendRequest'| trans({}, "messages", locale) }}</button>
                            {#                            <a type="button" #}
                            {#                               class="btn btn__purple-2 btn__large type__button ml-5" #}
                            {#                               href="{{ path('paprec_public_contact_request_index', {locale: locale}) }}"><i #}
                            {#                                        class="fas fa-phone-alt"></i> {{ 'Public.Catalog.ToBeCall'| trans({}, "messages", locale)|upper }} #}
                            {#                            </a> #}
                        </div>
                    </div>
                    {{ form_rest(form) }}
            </form>
        </div>
    </section>
    <div class="overlay"></div>
{% endblock %}
{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>
    <script>
        $(function () {

            var codes = {{ codes|json_encode|raw }};

            $('#paprec_catalogbundle_quote_request_public_postalCode').autocomplete({
                source: codes,
                minLength: 3,
                delay: 500,
                select: function (event, ui) {
                    /**
                     * Dès qu'un code postal a été sélectionné pour l'adresse de facturation, on affiche les autres champs
                     * (adresse et précision de l'adresse)
                     */
                    $('.address-content').show();
                    $('.address-field-1').show().prop('required',true);
                }
            }).keyup(function(){
                /**
                 * s'il n'y a plus de valeur dans le code postal, on masque les autres champs
                 */
                if ($('#paprec_catalogbundle_quote_request_public_postalCode').val() == '') {
                    $('.address-content').hide();
                    $('.address-field-1').show().prop('required',false);
                }
            });

            // Par défaut, les champs Signataire sont identiques au contact, donc ils ne doivent pas apparaître en arrivant
            // sur cette page
            $('.signatory-label').hide();
            $('.signatory-group').hide();
            $('.signatory-field').hide().prop('required', false);
            $('.signatory-field').val('');

            // Par défaut, les champs de Facturation sont identiques à l'adresse de prestation, donc ils ne doivent pas
            // apparaître en arrivant sur cette page
            $('.billing-address-label').hide();
            $('.address-group').hide();
            $('.billing-address-field').hide().prop('required', false);
            $('.billing-address-field').val('');

            $('.address-content').hide();

            $('.is-same-signatory-field').on('change', function () {
                if ($('.is-same-signatory-field input:checked').val() === '1') {
                    $('.signatory-group').hide();
                } else {
                    $('.signatory-group').show();
                }
            });

            $('.is-same-address-input').on('change', function () {
                if ($('.is-same-address-input input:checked').val() === '1') {
                    $('.address-group').hide();
                } else {
                    $('.address-group').show();
                }
            });

            $('.progress-bar').css('width', '65%').attr('aria-valuenow', '70%');

        });

        function initMap(){
            google.maps.event.addDomListener(window, 'load', function () {
                var element = document.getElementById('billingAddressAutocomplete');

                if (element) {
                    var autocomplete = new google.maps.places.Autocomplete(element, {types: ['geocode']});
                    autocomplete.setComponentRestrictions({
                        country: ["fr"],
                    });
                    google.maps.event.addListener(autocomplete, 'place_changed', function () {

                        var place = this.getPlace();

                        for (var i in place.address_components) {
                            var component = place.address_components[i];

                            var componentType = component.types[0];

                            switch (componentType) {
                                case 'postal_code': {
                                    $('#paprec_catalogbundle_quote_request_public_billingPostalCode').val(component.long_name);
                                    $('#billingPostalCodeStringField').val(component.long_name);
                                    break;
                                }

                                case 'street_number': {
                                    $('#paprec_catalogbundle_quote_request_public_billingAddress').val(component.long_name);
                                    break;
                                }

                                case 'route': {
                                    var text = $('#paprec_catalogbundle_quote_request_public_billingAddress').val();

                                    text += ' ' + component.long_name;

                                    $('#paprec_catalogbundle_quote_request_public_billingAddress').val(text);
                                    break;
                                }

                                case 'locality': {
                                    $('#paprec_catalogbundle_quote_request_public_billingCity').val(component.long_name);
                                    break;
                                }
                            }
                        }

                    });
                }
            });

            google.maps.event.addDomListener(window, 'load', function () {
                var element = document.getElementById('addressAutocomplete');

                if (element) {
                    var autocomplete = new google.maps.places.Autocomplete(element, {types: ['geocode']});
                    autocomplete.setComponentRestrictions({
                        country: ["fr"],
                    });
                    google.maps.event.addListener(autocomplete, 'place_changed', function () {

                        var place = this.getPlace();

                        for (var i in place.address_components) {
                            var component = place.address_components[i];

                            var componentType = component.types[0];

                            switch (componentType) {
                                case 'postal_code': {
                                    $('#postalCodeStringField').val(component.long_name);
                                    break;
                                }

                                case 'street_number': {
                                    $('#paprec_catalogbundle_quote_request_public_address').val(component.long_name);
                                    break;
                                }

                                case 'route': {
                                    var text = $('#paprec_catalogbundle_quote_request_public_address').val();

                                    text += ' ' + component.long_name;

                                    $('#paprec_catalogbundle_quote_request_public_address').val(text);
                                    break;
                                }
                            }
                        }

                    });
                }
            });
        }
    </script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{ google_places_secret_key }}&callback=initMap"></script>
{% endblock %}

