<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//FR"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<style type="text/css">

    html,
    body {
        margin: 0;
        padding: 0;
        font-family: "Red Hat Display", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #4a4a4a;
    }

    .footer__container {
        width: 800px;
        margin: auto;
        border-top: 2px solid #004a8e;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .footer__container p {
        padding: 0;
        margin: 0;
    }

    .flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -moz-box;
        /*display: box;*/
        display: flex;
    }

    .align-item-end {
        -webkit-box-align: end;
        -moz-box-align: end;
        -ms-flex-align: end;
        -webkit-align-items: end;
        box-align: end;
        align-items: flex-end;
    }

</style>

<body>

<div class="footer__container">
    {% if agency %}
        <p>{{ agency.businessName }} - {{ agency.address }} - {{ agency.postalCode }} {{ agency.city }} - {{ 'Commercial.PDF.Footer.PhoneNumberTitle'|trans({}, "messages", app.request.locale) }} : {{ agency.phoneNumber }} - {{ agency.legalInfoTemplate }}</p>
{#        <p>{{ agency.address }} - {{ agency.postalCode }} {{ agency.city }}</p>#}
{#        <p>{{ 'Commercial.PDF.Footer.PhoneNumberTitle'|trans({}, "messages", app.request.locale) }} : {{ agency.phoneNumber }}#}
{#            - {{ 'Commercial.PDF.Footer.FaxTitle'|trans({}, "messages", app.request.locale) }} : {{ agency.faxNumber }}</p>#}
{#        <p style="font-size: 12px">{{ agency.legalInfoTemplate }}</p>#}
    {% endif %}
    <div style="padding-bottom: 10px;">
        <div style="float: right; right: 200px;">
            <p class="page-counter"><span id="current"></span></p>
        </div>
    </div>
</div>

<script>
    var pdfInfo = {};
    var x = document.location.search.substring(1).split('&');
    for (var i in x) {
        var z = x[i].split('=', 2);
        pdfInfo[z[0]] = unescape(z[1]);
    }

    function getPdfInfo() {
        var page = pdfInfo.page || 1;
        var pageCount = pdfInfo.topage || 1;

        document.getElementById('current').textContent = page;
    }
    getPdfInfo();
</script>
</body>

</html>
