<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Oswald:300,400,500&display=swap&subset=latin-ext"
          rel="stylesheet">
    <title>Account Activation</title>
    <style>
        * {
            font-family:  "Red Hat Display", sans-serif !important;
        }

        p {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<p>{{ 'Commercial.ConfirmContactRequestEmail.Dear'|trans({}, "messages", locale) }} {{ quoteRequest.firstName }} {{ quoteRequest.lastName }},</p>
{#<br><br>#}
<p>{{ 'Commercial.ConfirmContactRequestEmail.Message1'| trans({'%date%': 'now'|localizeddate('short', 'medium', locale, timezone)}, "messages", locale) }}</p>
{#<br><br>#}
<p>{{ 'Commercial.ConfirmContactRequestEmail.Message2'| trans({}, "messages", locale) }}</p>
{#<br><br>#}
<p>{{ 'Commercial.ConfirmContactRequestEmail.Regards'| trans({}, "messages", locale) }}</p>
{#<br><br>#}
<p>{{ 'Commercial.ConfirmContactRequestEmail.Partner'| trans({}, "messages", locale) }}</p>

{#<br><br>#}
<i>{{ 'Commercial.ConfirmContactRequestEmail.NoReply'| trans({}, "messages", locale) }}</i>
<br><br>

</body>
</html>
