<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Oswald:300,400,500&display=swap&subset=latin-ext"
          rel="stylesheet">
    <title>Account Activation</title>
    <style>
        * {
            font-family: "Red Hat Display", sans-serif !important;
        }
    </style>
</head>
<body>
{{ 'Commercial.GeneratedMissionSheetEmail.Hello'|trans({}, "messages", locale) }}<br><br>
{{ 'Commercial.GeneratedMissionSheetEmail.New-sheet'|trans({'%businessName%': quoteRequest.businessName}, "messages", locale) }}
<br><br>
{{ 'Commercial.GeneratedMissionSheetEmail.Regards-2'|trans({}, "messages", locale) }}<br><br>
{% if quoteRequest.userInCharge %}{{ quoteRequest.userInCharge.firstName }} {{ quoteRequest.userInCharge.lastName }}{% endif %}
<br>

{#{% if quoteRequest.civility == 'M' %}#}
{#    {{ 'Commercial.GeneratedMissionSheetEmail.Dear.M'|trans({}, "messages", locale) }}#}
{#{% elseif quoteRequest.civility == 'MME' %}#}
{#    {{ 'Commercial.GeneratedMissionSheetEmail.Dear.Mrs'|trans({}, "messages", locale) }}#}
{#{% endif %} {{ quoteRequest.firstName }} {{ quoteRequest.lastName }},<br><br>#}
{#{{ 'Commercial.GeneratedMissionSheetEmail.Message1'| trans({'%number%': quoteRequest.number}, "messages", locale) }}#}
{#<br><br>#}
{#{{ 'Commercial.GeneratedMissionSheetEmail.Regards'| trans({}, "messages", locale) }}#}
{#<br><br>#}
{#{{ 'Commercial.GeneratedMissionSheetEmail.Partner'| trans({}, "messages", locale) }}#}
{#<br>#}

</body>
</html>
