<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Oswald:300,400,500&display=swap&subset=latin-ext"
          rel="stylesheet">
    <title>Account Activation</title>

    <!-- Web Font / @font-face : BEGIN -->
    <!--[if mso]>
    <style>
        * {
            font-family: Arial, sans-serif !important;
        }
    </style>
    <![endif]-->


</head>
<body>
Bonjour {{ user.firstName }},
<br>
<br>

cette semaine vos affaires suivantes sont probablement à mettre à jour ?
<br>
<br>
<ul>
{% for qR in quoteRequests %}
    <li><a href="{{ paprec_back_office_url }}/catalog/followUp/view/{{ followUpByQuoteRequest[qR.id].id }}">{{ ('Commercial.QuoteRequest.Origin.'~ qR.origin|capitalize)|trans }} - {{ qR.number }}</a></li>
{% endfor %}
</ul>
<br>
<br>
Si vous souhaitez faire une mise à jour du suivi, cliquer sur l’affaire et vous arriverez directement sur le back office
!

</body>
</html>
